.card {
  border: none;
  padding: 16px;
  margin-bottom: 16px;
  list-style: none;
  background-color: var(--grey-light);
  border-radius: var(--radius);
}
.card p {
  margin: 0.5em 0;
}
.card button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  padding: 8px 16px;
  border-radius: var(--button-radius);
}

.card button:hover {
  cursor: pointer;
}

.approve {
    background-color: var(--green);
    color: var(--white);
}

.reject {
    background-color: var(--red);
    color: var(--white);
}