.approvedCard {
  border: 1px solid #ddd;
  border-radius: var(--radius);
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.approvedCard button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  padding: 8px 16px;
  border-radius: var(--button-radius);
}

.approvedCard button:hover {
  cursor: pointer;
}

.approvedCardButtons {
  display: flex;
  gap: 10px;
}

.changeButton {
  background-color: var(--grey-light);
  color: var(--black);
}

.dangerButton {
  background-color: var(--red);
  color: var(--white);
}

.saveButton {
  background-color: var(--green);
  color: var(--white);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 47, 117, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: var(--radius);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent input[type="date"] {
  font-size: 16px;
  padding: 8px;
  border: 2px solid var(--grey-dark);
  border-radius: var(--button-radius);
  background-color: #f0f0f0;
  color: var(--dark-grey-text);
}

.modalActions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}