.approval {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
        padding: 0;
    width: auto;
    margin: 1em 0;
    border-radius: var(--radius);
}

.request {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;
    border-radius: var(--radius);
}